<div class="div1"> 
    <h2>Coordinates</h2> 
    {% if coord %}
      <p>Name  : {{coord_name}}</p>
      <p>Shape  : {{coord_shape}}</p>
      <p>Bytes  : {{coord_nbytes}}</p>
      <p>Points  : {{coord_size}}</p>

      {% if coord_units %}
        <p>Units: {{coord_units}}</p>
      {% endif %}

      {% if coord_dtype %}
        <p>Dtype: {{coord_dtype}}</p>
      {% endif %}

      {% if coord_attrs %}
        <p>Attrs: {{coord_attrs}}</p>
      {% endif %}
    
    {% endif %}
</div>

<style>
  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 400px;
    border: 1px solid #ddd;
  }
  
  th, td {
    text-align: left;
    padding: 5px;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2
  }

  div.div1 {
      max-height: 140px;
      max-width: 400px;
      overflow: auto;
  }
</style>