<div class="div1"> 
    {% if coords %}
    <table>
        <tr>
            <th>Coordinate</th>
        </tr>
      {% for coord in coords %} 
        <tr>
            <td>{{ coord }}</td>
        </tr>
      {% endfor %}
    </table>
    {% else %}
       <p>No attributes associated.</p>
    {% endif %}
</div>

<style>
  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 400px;
    border: 1px solid #ddd;
  }
  
  th, td {
    text-align: left;
    padding: 5px;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2
  }

  div.div1 {
      max-height: 140px;
      max-width: 400px;
      overflow: auto;
  }
</style>