<div style="display: flex;">
  
  <!-- Table 1 -->

    {% if var == None %}
      <h3>Variables</h3> 
    {% endif %}

    {% if var %}
      <div class="table_div">
        <table>
            <tr>
                <th>Property</th>
                <th>Value</th> 
            </tr>
            <tr>
                <td>Name</td>
                <td>{{ var_name }}</td>
            </tr>
            <tr>
                <td>Shape</td>
                <td>{{ var_shape }}</td>
            </tr>
            <tr>
                <td>Dims</td>
                <td>
                  {% for var in var_dims %} 
                    {{ var }},
                  {% endfor %}  
                </td>
            </tr>
            <tr>
                <td>Coords</td>
                <td>
                  {% if var_coords|length >0 %}
                      {% for coord in var_coords %}
                        {{ coord }},
                      {% endfor %}
                  {% else %}
                      Empty
                  {% endif %}
                </td>
            </tr>
            <tr>
                <td>Dtype</td>
                <td>{{ var_dtype }}</td>
            </tr>
            <tr>
              <td>Points</td>
              <td>{{ var_size }}</td>
            </tr>
            <tr>
              <td>Bytes</td>
              <td>{{ var_nbytes }}</td>
            </tr>

        </table>
      </div>
    {% endif %}

  <!-- Table 2  -->

    {% if var_attrs %}
      <div class="table_div">
          <table>
              <tr>
                  <th>Attribute</th>
                  <th>Description</th> 
              </tr>
              
              {% for k,v in var_attrs %} 
              <tr>
                  <td>{{ k }}</td><td> {{ v }} </td>
              </tr>
              {% endfor %}
          </table>
      </div>
    {% else %}
      <div style="width: 300px;">
            {% if var != None %}
              <p align= "center" ><b>Attribute:</b> None</p>
            {% endif %}
      </div>
    {% endif %}

</div>


<style>
        table {
          border-collapse: collapse;
          border-spacing: 0;
          width: 400px;
          border: 1px solid #ddd;
        }
        
        th, td {
          text-align: left;
          padding: 5px;
        }
        
        tr:nth-child(even) {
          background-color: #f2f2f2
        }

        div.table_div {
          overflow: scroll; 
          height: 140px;
        }
</style>