
  <div class="div1"> 
    {% if var == None %}
      <h3>Variables</h3> 
    {% endif %}
    {% if variable_attributes %}
    <table>
        <tr>
            <th>Variable</th>
            <th>Attribute</th> 
        </tr>
        
        {% for k,v in variable_attributes %} 
        <tr>
            <td>{{ k }}</td><td> {{ v }} </td>
        </tr>
        {% endfor %}
    
    {% else %}
        {% if var != None %}
        <p>No attributes asscociated with this variable.</p>
        {% endif %}
    {% endif %}
    </table>
  </div>


<style>
        table {
          border-collapse: collapse;
          border-spacing: 0;
          width: 400px;
          border: 1px solid #ddd;
        }
        
        th, td {
          text-align: left;
          padding: 5px;
        }
        
        tr:nth-child(even) {
          background-color: #f2f2f2
        }

        div.div1 {
            max-height: 140px;
            max-width: 400px;
            overflow: auto;
        }
</style>